Importing the Dependencies

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

Data Collection & Analysis

In [47]:
heart_dataset=pd.read_csv('heart_disease_data.csv')

In [59]:
heart_dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [49]:
heart_dataset.shape

(303, 14)

In [50]:
heart_dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [51]:
heart_dataset['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

# Data Pre-Processing

Separating the features & Target

In [52]:
x=heart_dataset.iloc[:,:-1]
y=heart_dataset.iloc[:,-1]

In [5]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [7]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

Data Standardization

In [53]:
sc=StandardScaler()

In [54]:
x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.fit_transform(x_test)

# Model Training

Support Vector Machine(SVM) Model

In [62]:
model=svm.SVC()
model.fit(x_train_sc,y_train)
prediction=model.predict(x_test_sc)
prediction

array([1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [63]:
y_test

293    0
200    0
159    1
193    0
254    0
155    1
2      1
30     1
135    1
123    1
91     1
43     1
243    0
209    0
115    1
153    1
49     1
48     1
295    0
179    0
150    1
54     1
144    1
182    0
21     1
206    0
154    1
81     1
175    0
51     1
36     1
Name: target, dtype: int64

Accuracy Score

In [64]:
accuracy=metrics.accuracy_score(y_test,prediction)
accuracy*100

77.41935483870968

# Making a Predictive System

In [65]:
classes={0:'The person does not have Heart Disease',1:'The person has Heart Disease'}
user_input=[[57,0,0,140,241,0,1,123,1,0.2,1,0,3]]
pred=model.predict(user_input)
print(classes[pred[0]])

The person does not have Heart Disease

# Saving the Trained model

In [66]:
import pickle

In [67]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [68]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [69]:
for column in x.columns:
    print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal